<ion-view view-title="PIA Summary">

<ion-content class="has-header">
<div class="row">
    <div class="col">
        <div class="card ">
            <div class="item item-divider center stable">
                Grand Total
            </div>

  <label class="item item-input item-select">
    <div class="input-label">
Show Summary
    </div>
    <select>
             <option>All</option>
                <option>Shares</option>
        <option>Options</option>
          <option>Warrants</option>
            <option>Convertible Notes</option>
    </select>
  </label>

            <div class="item item-text-wrap">
                <div class="row">
                    <div class="col">
                        <a class="card " href="#/app/summary-details">
                            <div class="item item-divider center">
                                Capital Deployed
                            </div>
                            <div class="item item-text-wrap center big  with-icon">
                                $243,500
                                    <i class="icon ion-chevron-right"></i>
                            </div>

                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card ">
                            <div class="item item-divider center">
                                Current Valuation
                            </div>
                            <div class="item item-text-wrap center with-icon">
                              <div class="row">
                    <div class="col col-50 big">$1,252,256</div>
                    <div class="col col-50">  <div class="card ">
                            <div class="item item-divider center green">
                               Returns
                            </div>
                            <div class="item item-text-wrap center big">
                               514%
                            </div>
                        </div></div></div>
 <i class="icon ion-chevron-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                  <div class="row">
                    <div class="col">
                        <div class="card ">
                            <div class="item item-divider center">
                                Future Valuation
(Full vest)
                            </div>
                            <div class="item item-text-wrap center with-icon">
                              <div class="row">
                    <div class="col col-50 big">$3,506,631</div>
                    <div class="col col-50">  <div class="card ">
                            <div class="item item-divider center green">
                               Returns
                            </div>
                            <div class="item item-text-wrap center big">
                              1440%
                            </div>
                        </div></div></div>
 <i class="icon ion-chevron-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="col">
                        <div class="card ">
                            <div class="item item-divider center">
                               Future incl
Probability
                            </div>
                            <div class="item item-text-wrap center with-icon">
                              <div class="row">
                    <div class="col col-50 big">$1,936,865</div>
                    <div class="col col-50">  <div class="card ">
                            <div class="item item-divider center green">
                               Returns
                            </div>
                            <div class="item item-text-wrap center big">
                              795%
                            </div>
                        </div></div></div>
 <i class="icon ion-chevron-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
 <div class="row">
                    <div class="col">
                        <div class="card ">
                            <div class="item item-divider center">
                                Future Best
Case
                            </div>
                            <div class="item item-text-wrap center with-icon">
                              <div class="row">
                    <div class="col col-50 big">$6,300,400</div>
                    <div class="col col-50">  <div class="card ">
                            <div class="item item-divider center green">
                               Returns
                            </div>
                            <div class="item item-text-wrap center big">
                             2587%
                            </div>
                        </div></div></div>
 <i class="icon ion-chevron-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</ion-content>
</ion-view>
