<ion-view view-title="Options">
<ion-header-bar class="bar bar-subheader bar-dark">
<h1 class="title">Options: Add New Company</h1>
</ion-header-bar>
<ion-content class="has-header has-subheader">
<form name="authorizationForm" novalidate="" ng-submit="signIn(authorizationForm)">
  <div class="list list-inset">
    <label class="item item-input item-stacked-label">
      <span class="input-label">Enter Company</span>
      <input type="text" placeholder="For eg: My company">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Acquisition Date / Vest Start</span>
      <input type="text" placeholder="Auto insert same date of completion">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Vest Complete</span>
      <input type="text" placeholder="Date picker ">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Options</span>
      <input type="text" placeholder="Enter number of options">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Security Strike Price</span>
      <label class="item-input-wrapper">
        <i class="icon ion-social-usd placeholder-icon"></i>
        <input type="text" placeholder="for eg: $1.00">
      </label>
    </label>
     <label class="item item-input item-stacked-label">
      <span class="input-label">Investment (0=time investment)</span>
        <input type="text" placeholder="AutoFill" disabled>

    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Enter FMV</span>
      <input type="text" placeholder=" for eg: 1.0">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Likely Sale/IPO Price</span>
      <input type="text" placeholder="For eg: 10" maxlength="2">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Probability of Sale/IPO in next 12 months</span>
      <label class="item-input-wrapper">
        <i class="icon placeholder-icon">% </i>
        <input type="text" placeholder=" for eg: 30" maxlength="2">
      </label>
    </label>
    <ul class="list">
      <li class="item item-toggle">
        Show calculations below
        <label class="toggle toggle-balanced">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
    </ul>
</div>
<div class="row">
      <div class="col col-50">
        <div class="card ">
        <div class="item item-divider">
          Total shares
        </div>
        <div class="item item-text-wrap">
          35000
        </div>
      </div>
    </div>
      <div class="col col-50">
        <div class="card ">
        <div class="item item-divider">
         Valuation
        </div>
        <div class="item item-text-wrap">
          $42000.00
        </div>
      </div>
    </div></div>
    <div class="row">
        <div class="col ">
        <div class="card ">
        <div class="item item-divider">
         Investment (0=time investment)
        </div>
        <div class="item item-text-wrap">
          $35,000.00
        </div>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col col-50">
        <div class="card ">
        <div class="item item-divider">
          %Up/(Down)
        </div>
        <div class="item item-text-wrap">
         20.00%
        </div>
      </div>
    </div>
      <div class="col col-50">
        <div class="card ">
        <div class="item item-divider">
        Valuation inc Probability
        </div>
        <div class="item item-text-wrap">
          $105,000
        </div>
      </div>
    </div></div>
    <div class="row">
        <div class="col ">
        <div class="card ">
        <div class="item item-divider">
        Implied Valuation on Likely Sale
        </div>
        <div class="item item-text-wrap">
          $35,000.00
        </div>
      </div>
    </div>
    </div>

    </div>
    <div class="padding">  <button class="button  button-balanced button-block" type="submit">
  Save
    </button></div>
<div class="row"><div class="col"></div></div>
  </div>
</form>
</ion-content>
</ion-view>
