<ion-view view-title="Summary Details">

<ion-content class="has-header">
   <div class="row">

      <div class="col ">
        <div class="card tc">
        <div class="item item-divider">
Capital Deployed
        </div>

      </div>
    </div>
    </div>
<div class="row">
      <div class="col">
<table>
  <tr>
  <td><strong>Shares</strong></td><td><span>$35000</span></td></tr>
  <tr>
    <td><strong>Options</strong></td><td><span>$35000</span></td></tr>
<tr>      <td><strong>Warrants</strong></td><td><span>$35000</span></td>
</tr>
     <tr>   <td><strong>Converts</strong></td><td><span>$35000</span></td></tr>

<tr class="gt"><td><strong>Grand Total</strong></td><td><span>$2,43,500</span></td></tr>

</table>
    </div>
     </div>




    </div>


  </div>
<div class="row"><div class="col"> </div></div>

</ion-content>
</ion-view>
