<ion-view view-title="Warrants">
 <ion-header-bar class="bar bar-subheader bar-dark">
     <button class="button button-icon icon ion-ios-minus-outline"
          ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>   <h1 class="title">Warrants:Existing Companies</h1>  <button class="button" ng-click="data.showDelete = false; data.showReorder = !data.showReorder">
            Reorder
        </button>
    </ion-header-bar>
  <ion-content class="has-header has-subheader">
 <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="movie.name" ng-change="searchMovieDB()">
      </label>
<ion-list class="list list-inset" ng-controller="AppCtrl"
         show-delete="data.showDelete" show-reorder="data.showReorder">


  <ion-item class="item  item-icon-right " href="#/app/single-view">
  51maps
  <p> Aquisition Date: 3/31/2015</p>
   <i class="icon ion-chevron-right"></i>
    <ion-option-button class="button-info"
                       ng-click="edit(item)">
      Edit
    </ion-option-button>
    <ion-delete-button class="ion-minus-circled"
                       ng-click="items.splice($index, 1)">
    </ion-delete-button>
<ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>

  </ion-item>
 <ion-item class="item item-icon-right" href="#/app/single-view">
  Second company
    <p> Aquisition Date: 3/31/2015</p>
  <i class="icon ion-chevron-right"></i>
    <ion-option-button class="button-info"
                       ng-click="edit(item)">
      Edit
    </ion-option-button>
    <ion-delete-button class="ion-minus-circled"
                       ng-click="items.splice($index, 1)">
    </ion-delete-button>
    <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>

  </ion-item>
 <ion-item class="item item-icon-right" href="#/app/single-view">
 Third company   <p> Aquisition Date: 3/31/2015</p>   <i class="icon ion-chevron-right"></i>
   <ion-option-button class="button-info"
                       ng-click="edit(item)">
      Edit
    </ion-option-button>
    <ion-delete-button class="ion-minus-circled"
                       ng-click="items.splice($index, 1)">
    </ion-delete-button>
<ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
  </ion-item>


</ion-list>
  </ion-content>
</ion-view>
